{% extends "base.html" %}
{% block title %}
    邮件详情-{{ email_data.subject }}
{% endblock %}
{% block content %}
    <div>
        <h4>From: {{ email_data.from_email }}</h4>
        <p>Subject: {{ email_data.subject }}</p >
        <p>Date: {{ email_data.date|date:"Y-m-d H:i:s" }}</p >
        <div>Body: <pre>{{ email_data.body|safe }}</pre></div>
    
        {% if email_data.event_details %}
        <form method="post" action="{% url 'submit_event' %}">
            {% csrf_token %}
            {{ event_form.as_p }}
            <button type="submit">Upload Event</button>
        </form>
        {% endif %}
    </div>
{% endblock %}