{% extends "base.html" %}

{% block content %}
<h2>我的日程</h2>
<table>
    <thead>
        <tr>
            <th>日期</th>
            <th>事件</th>
            <th>地点</th>
            <th>备注</th>
        </tr>
    </thead>
    <tbody>

        {% for event in events %}
        <tr>
            <td>{{ event.date|date:"Y-m-d H:i" }}</td>
            <td>{{ event.event }}</td>
            <td>{{ event.address }}</td>
            <td>{{ event.comment }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">没有即将到来的日程。</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
